body {SCROLLBAR-FACE-COLOR: #FFFfff; SCROLLBAR-HIGHLIGHT-COLOR: #9e9e9e; SCROLLBAR-SHADOW-COLOR: 
#9e9e9e; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #9e9e9e; SCROLLBAR-TRACK-COLOR: 
#eaeaea; SCROLLBAR-DARKSHADOW-COLOR: #eaeaea} select { font-family: "ו"; font-size: 
12pt;background-color: #E1E1C4; color: #333300} A:link { TEXT-DECORATION: 
none; ; color: #663300} A:visited { COLOR: #333300; TEXT-DECORATION: none; } A:hover { COLOR: 
#663300; TEXT-DECORATION: none; } .table_windows { background-color: #D8D8D0; 
border-left: 2 solid #ffffff;border-right: 2 solid #666666; border-top: 2 solid 
#ffffff; border-bottom: 2 solid #666666; border-color: #FFFFFF #666666 #666666 
#FFFFFF; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 
2px; border-left-width: 2px}p 
{ font-size: 12px; color: #333300}.font_dropshadow{ FILTER: dropshadow(color=#ffffff,offx=1,offy=1);}p 
{ font-size: 12px; color: #333300} td { font-size: 12px; color: #333300} 
.table_3d{background-color: #F0EFF1; border-left: 1 solid #ffffff;border-right: 
1 solid #666666; border-top: 1 solid #ffffff; border-bottom: 1 solid #666666;color:#663300;cursor:hand; 
} .table_no{background-color: #f1f1f1; border-left: 1 solid #f1f1f1;border-right: 
1 solid #f1f1f1; border-top: 1 solid #f1f1f1; border-bottom: 1 solid #f1f1f1 } 
.table_dashed {  border: #330000; border-style: dashed; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #F2ECFB}
