<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false -->    
    <add key="ConnectionString" value="server=127.0.0.1;database=codematic;uid=sa;pwd="/><!--8618B53C32BF8E0B6CD3BDFF59B9F24BE1C6D586A5915C8B6DC69A09ABB2DF60A4026BDE8E76B6FDE2BFCEA3FA8E06CB-->
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd="/>
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value=""/>
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false"/>    
    <!--是否把日志写入文件ErrorMessage.txt-->
    <add key="LogInFile" value="false"/>
    <!--　是否把日志写入数据库-->
    <add key="LogInDB" value="true"/>
    <!--　保留最近日志天数-->
    <add key="LogLastDays" value="1"/>
    <!--新闻或文档的图片上传（images下的）文件夹名-->
    <add key="UpNewsImageFolder" value="ImgNewsup"/>
    <!--商品图片文件夹名-->
    <add key="ProductImageFolder" value="ProductImages"/>    
    <!--管理员所属部门名称,-->
    <add key="AdManager" value="管理部"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
  </appSettings>
  <system.web>    
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
      </forms>
    </authentication>    
    </system.web>
</configuration>